<article class="weather-info d-flex flex-column mt-4 align-items-center">
  <h2 style="text-align: center">Gorna Oryahovitsa</h2>
  <div class="d-flex justify-content-center mt-4">
    <div class="me-4">
      <app-curr-stat img="./images/Thermometer Up.png" statistic="30" />
      <app-curr-stat img="./images/Thermometer Down.png" statistic="17" />
    </div>
    <img style="height: 270px" src="./images/Sunny.png" alt="" />
    <div class="ms-4">
      <app-curr-stat img="./images/Wind.png" statistic="9km/h" />
      <app-curr-stat img="./images/Moisture.png" statistic="30%" />
    </div>
  </div>
  <h2 class="mt-3" style="font-size: 100px;">25°</h2>
  <h4 class="mt-2">Sunny</h4>
  <p class="mt-2">Feels like</p>
  <app-weather-hours />
</article>
