<div class="day-component d-flex align-items-center pt-3 pb-4 ps-3 pe-3">
  <p class="m-0 col-4 custom-font-size" >{{ day }}</p>
  <app-day-stat
    class="ms-xxl-4 ms-0 col-1"
    img="./images/Blur.png"
    [statistic]="precProb + '%'"
  />
  <app-day-stat
    class="ms-xxl-4 ms-3 col-1"
    img="./images/Wind.png"
    [statistic]="wind + 'km'"
  />
  <app-day-stat
    class="ms-xxl-4 ms-3 col-1"
    img="./images/Thermometer Up.png"
    [statistic]="maxTemp + '°'"
  />
  <app-day-stat
    class="ms-xxl-4 ms-3 col-1"
    img="./images/Thermometer Down.png"
    [statistic]="minTemp + '°'"
  />
  <img
    class="ms-xxl-4 ms-3 col-1"
    style="height: 45px; width: 50px"
    [src]="img"
    alt=""
  />
</div>
