/* За всички основни браузъри */
html, body {
  width: 100svh;
  height: 100svh;
  overflow: hidden;
  margin: 0;
}

/* Само за елементи, които искате да позволите скролиране без скролбар */
.app {
  height: 100svh; /* или 100vh */
  overflow: hidden; /* Скрива скролбарите */
  overflow-y: auto; /* Позволява вертикално скролиране */
  margin: 0;
}

/* Специфично за скриване на скролбара, но позволяване на скролиране */
.app::-webkit-scrollbar {
  display: none; /* Скрива скролбара в Chrome, Safari и Opera */
}

/* Firefox */
.app {
  scrollbar-width: none; /* Скрива скролбара във Firefox */
}

/* Internet Explorer и Edge */
.app {
  -ms-overflow-style: none; /* Скрива скролбара в Internet Explorer и Edge */
}













