<div
  class="weather-hourly d-flex"
>
  @for (weatherHour of weatherHourly.slice(0,24); track weatherHourly.timestamp)
  {
  <div class="d-flex flex-column align-items-center ms-2 me-2">
    <p class="mt-1 mb-0" style="text-align: center">
      {{ weatherHour.timestamp | date : "HH:mm" }}
    </p>
    <img style="height: 50px; width: 50px" src="./images/Sunny.png" alt="" />
    <p class="mt-1 mb-0" style="text-align: center">
      {{ weatherHour.temp + "°" }}
    </p>
    <div class="d-flex align-items-center m-0 mb-4">
      <img style="height: 16px; width: 16px" src="./images/Blur.png" alt="" />
      <p class="m-1">{{ weatherHour.precipitationProb }}%</p>
    </div>
  </div>
  }
</div>
