<div #weatherHourlyContainer class="weather-hourly d-flex no-select">
  @for (weatherHour of weatherHourly.slice(0,24); track weatherHour.timestamp)
  {
  <div class="d-flex flex-column align-items-center ms-2 me-2">
    <p class="mt-1 mb-0" style="text-align: center">
      {{ weatherHour.timestamp | date : "HH:mm" }}
    </p>
    <img style="height: 40px; width: 45px" [src]="weatherHour.img" alt="" />
    <p class="mt-1 mb-0" style="text-align: center">
      {{ weatherHour.temp + "°" }}
    </p>
    <div class="d-flex align-items-center m-0 mb-1">
      <img style="height: 16px; width: 16px" src="./images/Blur.png" alt="" />
      <p class="m-1">{{ weatherHour.precipitationProb }}%</p>
    </div>
  </div>
  }
</div>
